{% extends "template.html" %}
{% block conteudo %}
    <div class="container">
        <h1>Informe seu Usuário e a Senha nova</h1>
        <form id="meuFormulario" method="POST" action="{{ url_for('redefinirsenha') }}">
            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
            {{ form.csrf_token() }}
            <div class="form-group inputBox">
                {{ form.nome.label(for="campoTexto1", class="form-label") }}
                {{ form.nome(type="text", id="campoTexto1", oninput="validarTexto('campoTexto1')", class="form-control") }}
                <span id="mensagemErro1" style="color: red;"></span>
            </div>
            <div class="form-group inputBox">
                {{ form.senha.label(class="form-label") }}
                {{ form.senha(class="form-control") }}
            </div>
            <div class="form-group buttons">
                {{ form.login(type="submit", class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}